/*** Sections ***/
/*TODO*/ section#legend{display: none;}
section#welcomeinfo{
	min-height: 98vh;
	margin-top: 1.5em;
}
section#bigcheese{
	margin-bottom: 10em;
}


/*** Legend ***/
.user-mall{  }
.user-bist{  }
.user-mall::after{ margin: 0 0 .3em .3em; vertical-align: top; background: #CFE4FF; content: 'mall '; }
.user-bist::after{ margin: 0 0 .3em .3em; vertical-align: top; background: #FFCFE4; content: 'bist '; }

.user-box,td.box{ background: #a8e6cf; }
.user-con,td.con{ background: #dcedc1; }
.user-ush,td.ush{ background: #ffd3b6; }
.user-mis,td.mis{ background: #ffaaa5; }

.user-year-1::after{ margin-left: .3em;  content: '★'; }
.user-year-3::after{ margin-left: .3em;  content: '★★'; }
.user-year-5::after{ margin-left: .3em;  content: '★★★'; }
.user-give::after{ content: ; }
.user-take::after{ content: ; }

.time-give{  }
.time-take{  }
.time-disp-give{  }
.time-disp-take{  }


/** Big Cheese ***/
#navigation .nav-ticks{
	float: right;
}
#navigation .nav-buttons{
	display: none;
}

section#bigcheese thead{ font-weight: bold;}
section#bigcheese abbr{
  border-bottom: none !important;
  cursor: default !important;
}
section#bigcheese tbody td{
	white-space: nowrap;
}



/*** Welcome Info ***/
section#welcomeinfo hgroup{
	text-align: center;
}

section#welcomeinfo .title *{
	display: inline-block;
}

section#welcomeinfo #tomorrow{
	color: gray;
}
section#welcomeinfo em, 
section#welcomeinfo .em{
	font-style: normal;
	font-size: 1.2em;
}
section#welcomeinfo .tight{
	position: relative;
	top: -.6em;
}
section#welcomeinfo .subtle{
	font-size: 1.15em;
}
section#welcomeinfo div[class|=col]{
	border: 2px solid #d02929;
	margin: 0 1em;
	padding: 1em;
	min-height: 16em;
}


/*** MISC ***/
