


dl dd{
	margin-bottom: .5em;
}







/***********************         ************************/
/*********************    Table    **********************/
/***********************         ************************/


table thead{
	color: white;
}
table thead #info      {background: maroon;        }
table thead #collect   {background: orangered;     }
table thead #share     {background: dimgray;       }
table thead #share-sub {background: darkgoldenrod; }


table tbody tr:not([r]) td:nth-child(odd),
table tbody tr[r]       td:nth-child(even){ background: ivory; }

table tbody tr td[y]      { background: lightgreen !important; }
table tbody tr td[y]:after{ content: '✔'; }
table tbody tr td[n]      { background: lightpink !important; }
table tbody tr td[n]:after{ content: 'X'; }

