<footer class="jumbotron">
		<div class="row">
			<section class="col-md-2">
				<h2>Website</h2>
				<ul>
					<li><a href="about.html">About</a></li>
					<li><a href="costs.html">Costs</a></li>
					<li><a href="contact.html">Contact me</a></li>
				</ul>
			</section>
			<section class="col-md-2">
				<h2>Developers</h2>
				<ul>
					<li><a href="develop.html">Getting started</a></li>
					<li><a href="api.html">API</a></li>
					<li><a href="#">GitHub</a></li>
					<li><a href="#">Changelog</a></li>
				</ul>
			</section>
			<section class="col-md-2">
				<h2>Legal</h2>
				<ul>
					<li><a href="policy.html">Private policy</a></li>
					<li><a href="content.html">Content use</a></li>
				</ul>
			</section>
		</div>
</footer>