<header>
	<section class="jumbotron logo">
		<div>
			<h1>Shiftswap</h1>
			<p>Makes trading shifts easier for Cinemark employees</p>
		</div>
	</section>


	<section class="blog-masthead">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item {% if home %}active{% endif %}" href="index.html">Home</a>
				<a class="blog-nav-item {% if what %}active{% endif %}" href="whats-this.html"  >What's this?</a>
				<a class="blog-nav-item {% if stats %}active{% endif %}" href="stats.html"       >Statistics</a>
				<a class="blog-nav-item {% if info %}active{% endif %}" href="info.html"        >Edit info</a>
				<span>|</span>
				<a class="blog-nav-item {% if news %}active{% endif %}" href="news.html"        >News</a>
				<a class="blog-nav-item {% if star %}active{% endif %}" href="starbucks.html"   >Learn Starbucks</a>
				<a class="blog-nav-item {% if movie %}active{% endif %}" href="movies.html"      >Movies</a>
			</nav>
		</div>
	</section>
</header>