<section class="container" id="welcomeinfo">
	<div ng-hide="progress">
		<hgroup>
			<h1>Your schedule at a glance</h1>
			<h1 class="tight subtle" ng-show="name">
				<span>Hello {{name}}!</span>
				<small><a href="">(not you?)</a></small>
			</h1>
		</hgroup>

		

		<div class="row">

			<div class="col-sm-4">
				<div class="title">
					<h2>Today</h2>
					<p>{{unix.dayName(today)+' '+unix.date(today)}}</p>
				</div>

				<div ng-show="currentTime">
						<p>it is now</p>
						<p class="tight em">{{currentTime}}</p>
				</div>

				<div ng-show="isWorkDay(shiftToday)">
					<p>you work</p>
					<p class="tight em">{{shiftToday}}</p>

					<p ng-show="breaks.length===0">with no break</p>
					<p ng-show="breaks.length===1">with a break at</p>
					<p ng-show="breaks.length>= 2">with breaks at</p>
					<p class="tight em" ng-show="breaks.length>0" ng-repeat="b in breaks">{{b}}</p>


					<p ng-show="untilStep==='start'">and you start</p>
					<p ng-show="untilStep==='br-start'">and your break is</p>
					<p ng-show="untilStep==='br-end'">and your break ends</p>
					<p ng-show="untilStep==='end'">and you clock-out</p>
					<p class="tight em" ng-hide="untilStep==='afterhour'">
						in
						<abbr title="{{untilClock.detail}}">{{untilClock.str}}</abbr>
					</p>
				</div>
				<div ng-hide="isWorkDay(shiftToday)">
					<p>you are off.</p>
				</div>				
			</div>
			

			<div class="col-sm-4" id="tomorrow">
				<div class="title">
					<h2>Tomorrow</h2>
					<p>{{unix.dayName(today, 1)+' '+unix.date(today, 1)}}</p>
				</div>
				<span ng-show="shiftTomorrow">your next shift is in {{shiftTomorrow}}.</span>
				<span ng-hide="shiftTomorrow">you are off.</span>
			</div>

			<div class="col-sm-2">
				<div class="title">
					<h2>View full</h2>
					<p>Shows yourself on schedule.</p>
					<div class="glyphicon glyphicon-share-alt"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="title">
					<h2>News</h2>
					<p>posted {{unix.date(today, -1)}}</p>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.<span class="glyphicon glyphicon-share-alt"></span></p>
			</div>
			<div class="col-sm-3">
				<div class="title">
					<h2>Forecast</h2>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="progress">
		<p>Loading...</p>
	</div>
</section>