{% extends "template/standard.html" %}

{% block title %}About{% endblock %}

{% block head %}
	
{% endblock %}
{% block content %}
	<section class="container">
		<h1>About</h1>
		<p>Shiftswap was made possible by these lovely people.</p>
		<dl id="credits">
			<dt>Josh Olson <small>Full-stack programmer</small></dt>
			<dd>Copy pasted lots of things.</dd>

			<dt>Vincent Van Gogh <small>Impressionist artist</small></dt>
			<dd>Is quite hard to work with considering his difficulty hearing;  nonetheless, produces outstanding pieces.</dd>

			<dt>Amazon EC2 instance <small>Supreme machine overlord</small></dt>
			<dd>Blip blip. Beep beep.  DESTROY ALL HUMANS!</dd>
		</dl>

	</section>
{% endblock %}

{% block script %}
	
{% endblock %}