{% extends "template/standard.html" %}

{% block title %}API{% endblock %}

{% block head %}
	
{% endblock %}
{% block content %}
	<section class="container">
		<h2>users</h2>
		<p>Gets all users' data.</p>
		<section class="container">
			<h3>Usage</h3>
			<p><code>http://shiftswap.com/api/userid/:userid</code></p>
			<h3>Parameters</h3>
			<dl>
				<dt>:userid</dt>
				<dd>Integer.  A user's unique 4 digit ID number.</dd>
			</dl>
			<h3>Example</h3>
			<p>Send <code>http://shiftswap.com/api/userid/1007</code></p>
			<p>Receive <code>{"userid":1007,"name":"Douglas S. Morrison","role":"gm","lastlog":"null"}</code></p>

		</section>
	</section>


	<section class="container">
		<h2>schedule/userid</h2>
		<p>Gets a work week for a user with all of its shift times and descriptions.</p>
		<section class="container">
			<h3>Usage</h3>
			<p><code>http://shiftswap.com/api/schedule/userid/:userid/:day</code></p>
			<h3>Parameters</h3>
			<dl>
				<dt>:userid</dt>
				<dd>Integer.  A user's unique 4 digit ID number.</dd>
				<dt>:day (optional)</dt>
				<dd>String.  UNIX timestamp.  Any day of a particular work week.  The week's Thursday and seven days afterwards will be returned.  If blank, the current week is returned.</dd>
			</dl>
			<h3>Example</h3>
			<p>Send <code>http://shiftswap.com/api/schedule/userid/1007/1459486800</code></p>
			<p>Receive <code></code></p>

		</section>
	</section>


	<section class="container">
		<h2>schedule/role</h2>
		<p>Gets a work week for all employees or managers with all of its shift times and descriptions.</p>
		<section class="container">
			<h3>Usage</h3>
			<p><code>http://shiftswap.com/api/schedule/role/:role/:day</code></p>
			<h3>Parameters</h3>
			<dl>
				<dt>:role</dt>
				<dd>String.  Changes between the employee or manager schedule.  Accepts: employee or manager.</dd>
				<dt>:day (optional)</dt>
				<dd>String.  UNIX timestamp.  Any day of a particular work week.  The week's Thursday and seven days afterwards will be returned.  If blank, the current week is returned.</dd>
			</dl>
			<h3>Example</h3>
			<p>Send <code>http://shiftswap.com/api/schedule/role/manager/1459486800</code></p>
			<p>Receive <code></code></p>

		</section>
	</section>



	<section class="container">
		<h2>logged</h2>
		<p>Gets users who are currently logged in.</p>
		<section class="container">
			<h3>Usage</h3>
			<p><code>http://shiftswap.com/api/logged/last</code></p>
			<h3>Parameters</h3>
			<dl>
				<dt>none</dt>
			</dl>
			<h3>Example</h3>
			<p>Send <code>http://shiftswap.com/api/logged/last</code></p>
			<p>Receive <code></code></p>

		</section>
	</section>


	<section class="container">
		<h2>trade</h2>
		<p>Gets all shifts for trade, pending trades, and failed trades.</p>
		<section class="container">
			<h3>Usage</h3>
			<p><code>http://shiftswap.com/api/trade/shop</code></p>
			<h3>Parameters</h3>
			<dl>
				<dt>none</dt>
			</dl>
			<h3>Example</h3>
			<p>Send <code>http://shiftswap.com/api/trade/shop</code></p>
			<p>Receive <code></code></p>

		</section>
	</section>
{% endblock %}

{% block script %}
	
{% endblock %}