{% extends "template/standard.html" %}

{% block title %}Costs{% endblock %}

{% block head %}
	
{% endblock %}
{% block content %}
<section class="container">
		<h1>Costs</h1>
		<p>Amount spent to keep the lights on for Shiftswap.</p>
		<table class="table">
			<thead>
				<tr>
					<td colspan="2">Item</td>
					<td>Price</td>
					<td><abbr title="for this month">Incurred<sup> &dagger;</sup></abbr></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2">Backend Server</td>
					<td>VPN<br><a href="http://aws.amazon.com">Amazon Web Services</a></td>
					<td><a href="https://aws.amazon.com/ec2/pricing">$0.50/month</a><sup> &ddagger;</sup><br>+ 1 free year</td>
					<td>$0.00</td>
				</tr>
				<tr>
					<td>API calls<br><a href="http://www.kronos.com">Kronos</a></td>
					<td>Not found</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td rowspan="2">Frontend Server</td>
					<td>DNS<br><a href="http://www.namecheap.com">Namecheap</a></td>
					<td><a href="http://www.namecheap.com/hosting.aspx">$9.88/year</a></td>
					<td>$0.83</td>
				</tr>
				<tr>
					<td>Hosting<br><a href="https://pages.github.com">GitHub Pages</a></td>
					<td>$0.00</td>
					<td>$0.00</td>
				</tr>
				<tr>
					<td rowspan="4">Communication</td>
					<td>SMS<br><a href="http://www.clicksend.com/us/pricing">ClickSend</a></td>
					<td><a href="http://help.clicksend.com/13993-SMS/how-many-characters-can-i-send-in-an-sms">$0.0098/text
</a><sup> &ddagger;</sup></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Email<br>ClickSend</td>
					<td>$0.0075/mail</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Voice<br>ClickSend</td>
					<td><a href="http://help.clicksend.com/13994-Voice/how-many-characters-can-i-send-in-a-voice-call">$0.0128/call
</a><sup> &ddagger;</sup></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><a href="http://help.clicksend.com/SMS/do-i-need-a-dedicated-number">Dedicated Number</a><br>ClickSend</td>
					<td>$3.69/month</td>
					<td>$3.69</td>
				</tr>
				<tr>
					<td rowspan="3">Advertising</td>
					<td>Business cards</td>
					<td>$/batch</td>
					<td>$</td>
				</tr>
				<tr>
					<td>Loyalty program</td>
					<td>$/user</td>
					<td>$</td>
				</tr>
				<tr>
					<td>Flyers</td>
					<td>$/ea</td>
					<td>$</td>
				</tr>
			</tbody>
		</table>
		<div class="well">
			<p>&dagger; Incurred for this month.</p>
			<p>&ddagger; This price is estimated.</p>
		</div>


		<h2>History</h2>
		<dl>
			<dt>5/9/2016 Prepaid 2,083 SMS through Clicksend.</dt>
			<dd>$20.00</dd>

			<dt>5/9/2016 Bought dedicated number +18302826275 from Clicksend.</dt>
			<dd>$3.69</dd>

			<dt>5/9/2016 Bought shiftswapsanity.xyz from Namecheap.</dt>
			<dd>$0.44</dd>
		</dl>
	</section>
{% endblock %}

{% block script %}
	
{% endblock %}
