{% extends "template/standard.html" %}

{% block title %}Edit Info{% endblock %}

{% block head %}
	<link rel="stylesheet" href="css/edit-info.css">
{% endblock %}
{% block content %}
	<section class="container">
		<h1>Edit Info</h1>
		
		<label id="name-row">
			<span>Full Name</span>

			<label><input type="text" name="name" placeholder="First"></label>
			<label><input type="text" name="name" placeholder="Last"></label>
			<label><input type="text" name="name" placeholder="Initial"></label>
		</label>
		

		<label><span>Nickname</span>   <input type="text" name="name"></label>
		<label><span>Email</span>      <input type="text" name="email"></label>
		<label><span>Cell Phone</span> <input type="text" name="phone"></label>

		<button class="btn btn-primary">Change password</button>

		<h2>Availability</h2>


		<h2>Roles</h2>
		<div id="roles-selection" class="user-only row">
			<div class="col-sm-4">
				<h3>Concession</h3>
				<ul>
					<li><label><input type="checkbox"> Cashier</label></li>
					<li><label><input type="checkbox"> Runner</label></li>
					<li><label><input type="checkbox"> Coffee</label></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Usher</h3>
				<ul>
					<li><label><input type="checkbox"> Usher</label></li>
					<li><label><input type="checkbox"> Back-Podium</label></li>
					<li><label><input type="checkbox"> Front-Podium</label></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Box/Other</h3>
				<ul>
					<li><label><input type="checkbox"> Box Office</label></li>
					<li><label><input type="checkbox"> Matienance</label></li>
				</ul>
			</div>
		</div>		

		<div class="manager-only">
			<label><input type="checkbox"> Usher Manager</label>
			<label><input type="checkbox"> Concession Manager</label>
			<label><input type="checkbox"> Money Manager</label>
		</div>

		<h2>Trade</h2>
		
		<label><input type="radio" name="prefer-trade"> Preferred giver</label>
		<label><input type="radio" name="prefer-trade"> Indifferent</label>
		<label><input type="radio" name="prefer-trade"> Preferred taker</label>
		

		<h2>Schedule Sheet</h2>
		<label>Display times as <option></option></label>
		<label>Preferred view</label>

		<h2>Statistics Program</h2>
		<p><button class="btn btn-info">Opt in</button></p>

	</section>
{% endblock %}

{% block script %}
	
{% endblock %}