{% extends "template/standard.html" %}

{% block title %}Home{% endblock %}
{% set home = true %}

{% block head %}
	<meta name="description" content="Shiftswap is an online shift trading application for Cinemark 348 employees.  It makes it easier to trade shifts with each other, view your work schedule, and see a daily breakdown.">
	<meta name="keywords" content="shiftswap, shift, swap, cinemark, 348, trade, sanity">
	<link rel="stylesheet" href="css/index.css">
{% endblock %}


{% block content %}
<section ng-app="scheduleApp">
	<welcomeinfo></welcomeinfo>

	<section class="container" id="legend">
		<h2>Legend</h2>
		<div class="row">
			<ul class="col-md-2">
				<li class="user-box">Box office</li>
				<li class="user-con">Concession</li>
				<li class="user-ush">Usher</li>
				<li class="user-mis">Misc</li>
			</ul>

			<ul class="col-md-2">
				<li class="time-give">Given shift<sup>&#8224;</sup></li>
				<li class="time-take">Taken shift<sup>&#8224;</sup></li>
				<li class="time-disp-give">Shift for grabs</li>
				<li class="time-disp-take">Shift wanted</li>
			</ul>

			<ul class="col-md-3">
				<li class="user-give">Unavailable for shifts</li>
				<li class="user-take">Wanted shifts</li>
			</ul>

			<ul class="col-md-2">
				<li class="user-year-1">1 year</li>
				<li class="user-year-3">3 years</li>
				<li class="user-year-5">5+ years</li>
			</ul>
		</div>
	</section>





	<h2 style="text-align: center">Big cheese schedule</h2>
	<section class="container" id="navigation">
		<ol class="nav nav-pills">
			<li role="presentation" ng-class="{active: timespan==1}" ng-click="timespan=1"><a href>Month</a></li>
			<li role="presentation" ng-class="{active: timespan==2}" ng-click="timespan=2"><a href>Week </a></li>
			<li role="presentation" ng-class="{active: timespan==3}" ng-click="timespan=3"><a href>Day </a></li>

			<span id="sandbox-container" style="display:inline-block; margin-top:.2em;">
				<span class="input-group date" style="width: 200px">
					<input ng-bind="today" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</span>
			</span>
		</ol>

		<div class="nav-ticks">
			<label>
				<span>Show breaks</span>
				<input type="checkbox" value="show-breaks">
			</label>

			<label>
				<span>Show detail</span>
				<input ng-click="detailEnable=!detailEnable" type="checkbox">
			</label>

			<label>
				<span>24-hour format</span>
				<input ng-click="militaryTimeEnable=!militaryTimeEnable" type="checkbox">
			</label>
		</div>

		<div class="nav-buttons">
			<button>
				<span>Give shift</span>
				<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
			</button>
			<button>
				<span>Take shift</span>
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			</button>
			<button>
				<span>Print</span>
				<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
			</button>


			<div class="row">
				<button>
					<span>Back</span>
					<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				</button>
				<button>
					<span>Forward</span>
					<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</section>

	<tabledom>
	</tabledom>
</section>
{% endblock %}


{% set angular = true %}
{% set underscore = true %}
{% set moment = true %}
{% set datepicker = true %}
{% set fuzzyset = true %}
{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	<script>
	angular.module('scheduleApp',['ngRoute']);
	
	$(function(){
		$('#sandbox-container .input-group.date').datepicker({
			weekStart: 4,
			clearBtn: true,
			todayBtn: "linked",
			orientation: "auto",
			daysOfWeekHighlighted: "0,5,6"
		});
	});

	</script>
	<script src="js/scheduleapp.js"></script>
{% endblock %}