{% extends "template/standard.html" %}

{% block title %}Private Policy{% endblock %}

{% block head %}
	<link rel="stylesheet" href="css/policy.css">
{% endblock %}
{% block content %}
	<section id="main-content" class="container">
		<h1>Private Policy</h1>

		<p><em>tl;dr</em> We respect your privacy. Basic personal info is used to help employees identify each other on the schedule.  Also everyone's info and usage is used anonymously in statistics to improve the site itself.</p>

		<h2>Opt-out?</h2>
		<p>If you are not comfortable sharing your personal information you can op out of these services by clicking below.  We will not archive anything. (This isn't a <a href="http://webapps.stackexchange.com/questions/62399">Facebook delete</a>.)   We'll wipe your data from our servers and in no way can it be restored.</p>
		<button type="button" class="btn btn-warning">
		Opt-out of statistics
		</button>
		<button type="button" class="btn btn-danger">
		Opt-out entirely
		</button>

		<h2>How your information is shared</h2>
		<dl>
			<dt>To other employees</dt>
			<dd>Your name and general schedule information are publicly shared with other employees.  This helps identify who is who. Otherwise it would be really hard to swap shifts with someone if you couldn't know their schedules.</dd>

			<dt>To managers</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</dd>

			<dt>To improve the site</dt>
			<dd>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>

		</dl>


		<h2>How your information is not shared</h2>
		<dl>
			<dt>To third parties</dt>
			<dd>No information from Shiftswap is shared with any third-parties.  Additionally we disallow web crawlers and bots from viewing the site.  If this is somehow ignored, schedule information is displayed inside an iframe which makes it difficult for non-humans to view.</dd>

			<dt>To the admin</dt>
			<dd>Even the admin, who controls the website, cannot see some of your more personal data.  All of this is stored using SHA256.</dd>

			<dt>Your contact information</dt>
			<dd>This includes your phone number and email, we keep all of this to ourselves.  When people want to swap shifts with you, our server will act as a middle-man.  They contact the server and the server contacts you.  This prevents your contact information from being accessed.  Management however can see your phone number because sometimes when swapping shifts things happen.</dd>
		</dl>


		<h2>When we collect information</h2>
		<dl>
			<dt>Name, schedule, role</dt>
			<dd>This is publicly gathered from the Kronos API and is already on file.</dd>

			<dt>Email, phone number</dt>
			<dd>When you sign up to receive the schedule, contact information is collected from this written form.</dd>

			<dt>Age, sex, race, ...</dt>
			<dd>When opting into our statistics program (see below).</dd>
			
		</dl>

		<h2>Statistics Program</h2>
		<p>Shiftswap gathers statistics to determine equality in the workplace, company health, and some other great stuff.  We look at things such as age, sex, religion, and disability.  All of this is aggregated into graphs and charts, so you cannot be personally identified by the information you give.  A small amount of information dealing with the schedule, trade data, and site usage is already apart of the statistics.  Everything else requires the user to opt into our statistics program and manually enter this information. Otherwise no other information is collected without your consent for the program.</dd>

		<h2>tldr: info collection/sharing</h2>

		{{foo}}
		{% for item in data %}
		<li>{{ item }}</li>
		{% else %}
		<li>This would display if the 'item' collection were empty</li>
		{% endfor %}
		<table class="table">
			<thead>
				<tr>
					<th id="info"    colspan="2" rowspan="2">Information</th>
					<th id="collect" colspan="1" rowspan="2">Collected by</th>
					<th id="share"   colspan="6" rowspan="1">Shared with</th>
				</tr>
				<tr id="share-sub">
					<th>Public</th>
					<th>Floor</th>
					<th>Manager</th>
					<th>Admin</th>
					<th>Statistics</th>
					<th>3rd-Party</th>
				</tr>
			</thead>
			<tbody>
				<tr r>
					<td rowspan="4">Face value</td>
					<td>Name</td>
					<td>Kronos</td>
					<td y></td>
					<td y></td>
					<td y></td>
					<td y></td>
					<td n></td>
					<td n></td>
				</tr>
				<tr>
					<td>Age</td>
					<td>Opt into statistics</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>Opt into statistics</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr>
					<td>Race</td>
					<td>Opt into statistics</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr r>
					<td rowspan="3">Website</td>
					<td>Username</td>
					<td>Signing up for Shiftswap</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
					<td n></td>
				</tr>
				<tr>
					<td>Password</td>
					<td>Signing up for Shiftswap</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
				</tr>
				<tr>
					<td>Rant wall</td>
					<td>Adding a message</td>
					<td n></td>
					<td y></td>
					<td y></td>
					<td y></td>
					<td n></td>
					<td n></td>
				</tr>
				<tr r>
					<td rowspan="2">Schedule</td>
					<td>Floor</td>
					<td>Kronos</td>
					<td y></td>
					<td y></td>
					<td y></td>
					<td y></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr>
					<td>Manager</td>
					<td>Kronos</td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td y></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr r>
					<td rowspan="2">Contact</td>
					<td>Phone number</td>
					<td>Signing up for schedule</td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td y></td>
					<td n></td>
					<td n></td>
				</tr>
				<tr>
					<td>Email</td>
					<td>Signing up for schedule</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
					<td n></td>
				</tr>
				<tr r>
					<td rowspan="10">Private</td>
					<td>Pay</td>
					<td>Opt into statistics</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr>
					<td>Pregnancy</td>
					<td>Opt into statistics</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr>
					<td>Disability</td>
					<td>Opt into statistics</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
				</tr>
				<tr>
					<td>(etc.)</td>
					<td>Opt into statistics</td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td n></td>
					<td y></td>
					<td n></td>
				</tr>

			</tbody>
		</table>

		

	</section>
{% endblock %}

{% block script %}
	
{% endblock %}


