{% extends "template/standard.html" %}

{% block title %}Sitemap{% endblock %}

{% block head %}
	
{% endblock %}
{% block content %}
	<section class="container">
		<h1>Sitemap</h1>

		<h2>Schedule</h2>
		<a href="index.html">Home</a>
		What's this? (how Shiftswap works)
		Statistics
		Tour
		
		<h2>Forms</h2>
		Sign-up (new user)
		Change user info
		Change password
		Change user info - statistics


		<h2>More Pages</h2>
		News
		Starbucks
		Movies

		<h2>Website</h2>
			About
			Costs
			Contact
			Announcement

		<h2>Developers</h2>
		(Developer's) getting started
		API
		GitHub
		Changelog
		UX

		<h2>Legal</h2>
		Private policy
		Content use

		<h2>Panel</h2>
		Manager panel
		Admin panel

		<h2>Misc</h2>
		robots.txt


		

	</section>
{% endblock %}

{% block script %}
	
{% endblock %}

