{% extends "template/standard.html" %}

{% block title %}Statistics{% endblock %}
{% set stats = true %}

{% block head %}
	
{% endblock %}
{% block content %}{% raw %}
	<section class="container" ng-app="StatisticsApp">
		<h1>Statistics</h1>
		<section class="container">
			<h2>You</h2>
			<div>
				<ol class="nav nav-pills">
					<li role="presentation" ng-click="timeview='all'  "><a href="">All</a></li>
					<li role="presentation" ng-click="timeview='year' "><a href="">Year</a></li>
					<li role="presentation" ng-click="timeview='month'"><a href="">Month</a></li>
					<li role="presentation" ng-click="timeview='week' "><a href="">Week</a></li>
					<li role="presentation" ng-click="timeview='day'  " class="active"><a href="">Day</a></li>
				</ol>

				<label>
					<span>After taxes</span>
					<input type="checkbox" value="taxed">
				</label>


				<ul>
					<label>Hours per week:<input type="text" ng-model="hours"></label><br>
					<label>Your wage: $<input type="text" ng-model="wage"></label>
					<div ng-repeat="obj in you.time">
						<p>{{obj}}</p>
					</div>
					<li ng-show="timeview=='all'||timeview=='year' ">Earned this year:  {{wage*hours/7*365 | currency}} </li>
					<li ng-show="timeview=='all'||timeview=='month'">Earned this month: {{wage*hours/7*30  | currency}} </li>
					<li ng-show="timeview=='all'||timeview=='week' ">Earned this week:  {{wage*hours       | currency}} </li>
					<li ng-show="timeview=='all'||timeview=='day'  ">Earned today:      {{wage*hours/7     | currency}} </li>
					<div ng-show="timeview=='all'" class="stat-all">&nbsp;</div>

					<li ng-show="timeview=='all'||timeview=='year' ">Hours this year:  {{hours/7*365 | number:0}} </li>
					<li ng-show="timeview=='all'||timeview=='month'">Hours this month: {{hours/7*30  | number:0}} </li>
					<li ng-show="timeview=='all'||timeview=='week' ">Hours this week:  {{hours       | number:0}} </li>
					<li ng-show="timeview=='all'||timeview=='day'  ">Hours today:             {{hours/7     | number:0}} </li>
					<div class="stat-all">&nbsp;</div>

					<li>Shifts given:</li>
					<li>Shifts taken:</li>
					<div class="stat-all">&nbsp;</div>

				</ul>
			</div>
		</section>

		<section class="container">
			<h2>Everyone</h2>
				<ul>
					<li ng-show="timeview=='all'||timeview=='year' ">Earned this year:  {{wage*hours/7*365 | currency}} </li>
					<li ng-show="timeview=='all'||timeview=='month'">Earned this month: {{wage*hours/7*30  | currency}} </li>
					<li ng-show="timeview=='all'||timeview=='week' ">Earned this week:  {{wage*hours       | currency}} </li>
					<li ng-show="timeview=='all'||timeview=='day'  ">Earned today:      {{wage*hours/7     | currency}} </li>
					<div ng-show="timeview=='all'" class="stat-all">&nbsp;</div>

					<li ng-show="timeview=='all'||timeview=='year' ">Hours this year:  {{hours/7*365 | number:0}} </li>
					<li ng-show="timeview=='all'||timeview=='month'">Hours this month: {{hours/7*30  | number:0}} </li>
					<li ng-show="timeview=='all'||timeview=='week' ">Hours this week:  {{hours       | number:0}} </li>
					<li ng-show="timeview=='all'||timeview=='day'  ">Hours today:             {{hours/7     | number:0}} </li>
					<div class="stat-all">&nbsp;</div>

					<li>Successful shift trades:</li>
					<li>Unsuccessful shift trades:</li>
					<li>Shortest time to trade:</li>
					<li>Average time to trade:</li>
					<li>Longest time to trade:</li>
					<li>Keep to Trade ratio: </li>
					<li>Keep to Trade ratio of Box:</li>
					<li>Keep to Trade ratio of Concession:</li>
					<li>Keep to Trade ratio of Usher:</li>
					<div class="stat-all">&nbsp;</div>

				</ul>
		</section>

		<section class="container">
			<h2>Work Quality</h2>
			<ul>
				<li>Fired:</li>
				<li>Hired:</li>
				<li>Rehired:</li>
				<li>Employee count:</li>
			</ul>

			<h3>Distribution of work positions</h3>
			<h3>Distribution of year-based experience</h3>
			<h3>Hours worked vs time</h3>
			<h3>Morning to afternoon hours</h3>
			<h3>Sick days vs time</h3>
		</section>

		<section class="container">
			<h2>Website</h2>
			<ul>
				<li>Page views:</li>
				<li>Page views/month:</li>
				<li>Traffic bounce:</li>
				<li>Unique visitors:</li>
			</ul>
		</section>
	</section>
{% endraw %}{% endblock %}

{% set angular = true %}
{% block script %}
	<script src="js/stats.js"></script>
{% endblock %}
