{% extends "template/standard.html" %}

{% block title %}What's this{% endblock %}
{% set what = true %}

{% block head %}
	
{% endblock %}
{% block content %}
	<section class="container">
		<h1>What's This?</h1>
		<p>Shiftswap is a scheduling application here to help ease the difficulty of swapping shifts between employees.  No more digging for people's phone numbers, finding off-days, and determining work preferences.  Shiftswap does all that.</p>
		

		<h2>How a swap works</h2>
		<ol>
			<li>Shiftswap pulls schedule data from Kronos.</li>
			<li>This data is displayed in a fancy table.</li>
			<li>You tell Shiftswap you need a day off.  It goes and finds available employees.</li>
			<li>Shiftswap texts them about your shift.</li>
			<li>An employee responds back and says he can do it.</li>
			<li>Shiftswap declines any other takers, saying the shift has been filled.</li>
			<li>The affected manager is informed of the shift change.</li>

		</ol>
	</section>
{% endblock %}

{% block script %}
	
{% endblock %}




